@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a id="tab1" href="#tab-content" data-toggle="tab" data-tm-ajax="true" data-tm-action="@Url.Action("Index", "Tasks")" data-tm-target="#tab-content">Tasks</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-content">
            <!-- Loads content dynamically -->
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/timesheets")
}
