@model TimesheetManagement.Service.Areas.HelpPage.InvalidSample

@if (HttpContext.Current.IsDebuggingEnabled)
{
	_Page_Areas_HelpPage_Views_Help_DisplayTemplates_InvalidSample_cshtml.<div class="warning-message-container">
		<p>@Model.ErrorMessage</p>
	</div>
}
else
{
	_Page_Areas_HelpPage_Views_Help_DisplayTemplates_InvalidSample_cshtml.<p>Sample not available.</p>
}