@model Dictionary<System.Net.Http.Headers.MediaTypeHeaderValue, object>

@{
	// Group the samples into a single tab if they are the same.
	Dictionary<string, object> samples = Model.GroupBy(pair => pair.Value).ToDictionary(
		pair => string.Join(", ", pair.Select(m => m.Key.ToString()).ToArray()),
		pair => pair.Key);
	Dictionary<string, object>.KeyCollection mediaTypes = samples.Keys;
}
<div>
	@foreach (string mediaType in mediaTypes)
	{
		_Page_Areas_HelpPage_Views_Help_DisplayTemplates_Samples_cshtml.<h4 class="sample-header">@mediaType</h4>
		_Page_Areas_HelpPage_Views_Help_DisplayTemplates_Samples_cshtml.<div class="sample-content">
			<span><b>Sample:</b></span>
			@{
		object sample = samples[mediaType];
		if (sample == null)
		{
			_Page_Areas_HelpPage_Views_Help_DisplayTemplates_Samples_cshtml.<p>Sample not available.</p>
		}
		else
		{
			_Page_Areas_HelpPage_Views_Help_DisplayTemplates_Samples_cshtml.@Html.DisplayFor(s => sample)
			;
		}
		}
		</div>
	}
</div>