@using PagedList.Mvc
@using TimesheetManagement.Client.Mvc.Tasks.Models
@model TaskActivitiesViewModel

@section styles {
    @Styles.Render("~/Content/tasks")
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Your Activities</h2>

<!-- Add Activity Accordian -->
<div class="panel-group" id="accordion">
    <div class="panel panel-primary">
        <div id="add-activity-accordian" class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" data-tm-action="@Url.Action("AddTaskActivity", "Tasks")" data-tm-target="#collapse1-body">
            <h4 class="panel-title">
                Add Activity
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div id="collapse1-body" class="panel-body">
                <!-- Loads content dynamically -->
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Tasks/_TaskActivitiesTable.cshtml", Model)

@section scripts {
    @Scripts.Render("~/bundles/tasks")
}
